/* INTRODUCTION
 * This variant is the standard, grey, Leisure Theme.
 * This is eye candy only. All the layout code is in index.css.
 *
 * -------------------------------------------------------
 * $CONTENTS
 *
 *		$GENERAL.............Global resets, clearfixes, etc.
 *		$COMMON..............Common classes to drive you bonkers.
 *		$BBC.................Quotes, code blocks, BBC styles.
 *		$AJAX................The "loading" bar (quick edit, etc).
 *
 *		$MAIN................Forum header, wrapper, and footer.
 *		$MENUS...............Main and secondary menus.
 *		$LINKTREE............The breadcrumbs.
 *		$BUTTONS.............Most button strips.
 *		$PAGELINKS...........Page navigation links.
 *
 *		$TABLES..............Generic tables (memberlist, error log, etc).
 *		$SETTINGS............Generic lists for settings pages.
 *		$BOARDS..............Board index, sub-boards, and message index.
 *
 *		$TOPICS..............The display template (topic view), including send.
 *		$EDITOR..............Main editor (posts, events, polls) and topic summary.
 *		$MODERATE............Move topic, split topic, merge topic.
 *
 *		$PROFILE.............The profile areas.
 *		$PERSONAL............The personal messages (PM) areas.
 *		$CALENDAR............The calendar
 *		$STATISTICS..........The statistics centre.
 *
 *		$HELP................Help pages, help icons and pop-ups, tooltips.
 *		$SEARCH..............Search pages, including memberlist search.
 *		$MEMBERLIST..........The memberlist table.
 *		$LOGIN...............Login and registration, maintenance mode.
 *
 *		$BOXES...............Message boxes (error, warning, info, etc).
 *		$PROGRESS............Nifty progress bars.
 *		$MEDIA...............Experimental media queries.
 */

/* -------------------------------------------------------
 *	$GENERAL
 * -------------------------------------------------------
 */

/* Normal, standard links. */
a, a:link, a:visited,
/* Links that open in a new window. */
a.new_win:link, a.new_win:visited {
	color: #555555;
}

/* Cursor declared here.Should not be required anywhere else. */
a:hover, a.new_win:hover {
}

/* Stop white band under footer on short pages. */
/* This color should match $FOOTER background. */
html {
	background: #334455;
}

#upper_container {
	background: #6699CC;
}

body {
	color: #444444;
	background: #F6F8F9;
}

fieldset {
	border-color: #CCCCCC;
	background: transparent;
	box-shadow: inset -1px -1px 3px #FFFFFD;
}

legend {
	color: #333333;
	background: url(../../images/selected_open.png) no-repeat scroll left center transparent;
}

.collapsed legend {
	background: url(../../images/selected.png) no-repeat scroll left center transparent;
}

input, button, select, textarea, .editor {
	color: #444444;
	border-color: #CCCCCC;
	background: #FFFFFD;
}

input:hover, textarea:hover, button:hover, select:hover {
	border-color: #999999;
	background: #FBFBFB;
}

textarea:hover, .editor:hover {
	background: #FBFBFB;
}

input:focus, textarea:focus, button:focus, select:focus, .editor:focus {
	border-color: #999999;
}

/* Give disabled text input elements a different background color. */
input[disabled].input_text, input[disabled].input_password {
	background: #EEEEEE;
}

/* The OpenID login form */
.openid_login {
	background: white url(../../images/openid.png) no-repeat 2% 50%;
}

/* Common button styling. */
/* It is being replaced with three classes: */
/*    .button_submit is not floated */
/*    .right_submit is right floated */
/*    .left_submit is left floated */
/* The button_reset class may need attention too. */
input[type="submit"], .drop_area_fileselect_text, button[type="submit"], input[type="button"],
	/* Anchors styled to look like buttons. */
	/* These have standard body text size. Can be chained with smalltext class. */
.linkbutton:link, .linkbutton_right:link, .linkbutton_left:link,
.linkbutton:visited, .linkbutton_right:visited, .linkbutton_left:visited, .ila {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FFFFFD, #E4E4E4);
}

/* Hover effects. */
input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:hover,
.linkbutton:hover, .linkbutton_right:hover, .linkbutton_left:hover, .button_reset:hover, .ila:hover {
	color: #555555;
	border-color: #CCCCCC;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
}

/* Don't show disabled buttons as active on hover */
input[type=submit][disabled]:hover, button[disabled], button[disabled]:hover {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	box-shadow: 1px 1px 2px #E5E5E5;
}

/* the new "button" */
.new_posts, .new_posts:visited, .new_posts:link {
	color: #FFFFFD;
	background: #6BA65E;
}

/* approval indicator */
.require_approval {
	color: #FFFFFD;
	background: #F3B200;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr {
	border-top-color: #BBBBBB;
	border-bottom-color: #E4E4E4;
	background: #EEEEEE;
}

.lighter {
	color: #999999;
}

/* Styles for main headers. */
.category_header, .forum_category .category_header, .forumposts .category_header, .content_category .category_header {
	border-color: #DDDDDD;
	border-bottom-color: transparent;
	background: #F7F7F7;
}

h2.category_header.expand {
	border-color: #DDDDDD;
}

/* Single ones with a touch of radius. */
.forumposts .category_header, .content_category .category_header {
	border-radius: 0;
}

/* Styles for subsection headers. @todo */
.secondary_header {
	color: #F0F0F0;
	border-top-color: #DFDFDF;
	background: #334455;
}

#advanced_panel_link {
	color: #FFFFFD;
}

.category_header a:link, .category_header a:visited, .category_header a.new_win:link, .category_header a.new_win:visited {
	color: #555555;
}

/* Upshrink image in the page top for the header collapse */
#collapse_button .linklevel1 {
	background: transparent !important;
}

/* Custom highlighted text style for modern browsers. */
/* Nicer than default blue. Needs two separate rules. */
::-moz-selection {
	color: #555555;
	background: #D8FFDF;
}

::selection {
	color: #555555;
	background: #D8FFDF;
}

/* Other highlighted text, such as search results. */
.highlight {
	color: #FF7200;
}

/* Sometimes there will be an error when you post */
.error {
	color: #FF0000 !important;
}

.border_error {
	border-color: #FF0000 !important;
}

/* Messages that somehow need to attract the attention. */
.alert {
	color: #FF0000;
}

/* Colors for warnings. */
.warn_mute {
	color: #FF0000;
}

.warn_moderate, .softalert {
	color: #FFA500;
}

.warn_watch, .success {
	color: #008000;
}

.moderation_link, .moderation_link:visited {
	color: #FF0000;
}

/* Used for sections that need somewhat larger corners */
.roundframe, .well {
	border-color: #C5C5C5;
	background: #F5F5F5;
}

/* The generic wrapper thingy. */
.generic_list_wrapper {
	border-color: #CCCCCC;
}

.generic_list_wrapper .title_bar {
	border-bottom-color: #FFFFFD;
	background: none;
}

.generic_list_wrapper .information {
	border-bottom-color: #FFFFFD;
	background: none;
}

/* Styles used by the auto suggest control. */
.auto_suggest_div {
	border-color: #BBBBBB;
}

.auto_suggest_div:focus {
	border-color: #BBBBBB;
}

.auto_suggest_item {
	background: #DDDDDD;
}

.auto_suggest_item_hover {
	color: #EEEEEE;
	background: #888888;
}

/* -------------------------------------------------------
 *	$BBC
 * -------------------------------------------------------
 */

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader {
	color: #555555;
	border-color: #CCCCCC;
	background: #FFFFFD;
}

.codeheader {
	border-top-color: #AAAAAA;
}

/* A quote, perhaps from another post. */
.bbc_quote,
/* A code block - maybe PHP ;) - shared styles. */
.bbc_code {
	border-color: #CCCCCC;
	background: #FFFFFD;
}

input[type=checkbox].quote-show-more {
	background: linear-gradient(to bottom, transparent 0%, transparent 25%, #FEFEFE 100%);
	box-shadow: 0 1px 0 1px #E4E4E4;
}

/* Extra quote styling */
.bbc_quote, .quoteheader {
	box-shadow: 2px 2px 2px #CED2D8;
}

/* Extra code block styling. */
.bbc_code {
	border-top-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	background: #F8F8F8;
}

/* Styling for BBC tags */
.bbc_link:link, .bbc_link:visited {
	color: #555555;
	box-shadow: 0 -1px 0 #CEDCCB inset;
}

.bbc_link:hover {
	color: #555555;
	box-shadow: 0 -1px 0 #66AA55 inset;
}

/* Styling for tables inside posts */
.inner > .bbc_table_container > .bbc_table td,
.messageContent > .bbc_table_container > .bbc_table td {
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}

.inner > .bbc_table_container > .bbc_table th,
.messageContent > .bbc_table_container > .bbc_table th {
	border-right-color: #CCCCCC;
	border-bottom-color: #BBBBBB;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
	color: #222222;
}

.spoiler {
	border-color: #CCCCCC;
	background-color: #EEEEEE;
}

div.bbc_footnotes {
	border-top-color: #BFBFBF;
}

.bbc_footnotes .target:target {
	background-color: #D8FFDF;
}

sup.bbc_footnotes, sup.bbc_footnotes a {
	color: #222222;
}

/* -------------------------------------------------------
 *	$AJAX
 * -------------------------------------------------------
 */

/* The "Loading" bar for quick edit, etc. */
#ajax_in_progress {
	color: #555555;
	border-bottom-color: #F6F6F6;
	background: #FFFFFD;
}

/* -------------------------------------------------------
 *	$MAIN
 * -------------------------------------------------------
 */

/* Maintenance mode warning. */
.notice {
	color: #A80000;
}

#search_form {
	background-color: #CCCCCC;
}

#search_form select {
	border-color: #AFAFAF;
}

#search_form select:focus {
	border-color: #999999;
	border-right: none;
}

#forumtitle > a {
	color: #217C7E;
	text-shadow: 1px 1px 0 #000000;
}

/* News section. */
#news > span:before {
	color: #46494F;
}

#news_line, #news {
	color: #444444;
	border-color: #CCCCCC;
	background: #FFFFFD;
	box-shadow: 1px 2px 3px #EEEEEE;
}

/* Main forum area. */
/* Box-shadow only on this one. */
#wrapper {
	border-color: transparent;
	background: #F6F8F9;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
}

/* The footer with copyright links etc. */
#footer_section {
	color: #BBBBBB;
	background: #334455;
}

#footer_section p, #footer_section a {
	color: #BBBBBB;
}

#footer_section .rssfeeds {
	color: #FFA500;
	background-color: #FFFFFD;
	text-shadow: 1px 1px 0 #000000;
}

.content {
	background: #F6F6F6;
	border-color: transparent;
}

#debug_logging a, #debug_logging strong {
	color: #FFFF00;
}

#debug_logging {
	color: #BBBBBB;
	background: #222222;
}

#debug_logging_wrapper {
	background: #222222;
}

/* -------------------------------------------------------
 * $MENUS
 * -------------------------------------------------------
 */
#menu_nav, #menu_nav_scroll {
	background: #334455;
}

#menu_nav_scroll {
	border-top: 10px solid #6699CC;
}

/* Top Menu */
/* Level 1 Menu bar: link or button. General styling. */
#main_menu .linklevel1, #main_menu .linklevel1:link, #main_menu .linklevel1:visited {
	color: #FFFFFD;
	background: #334455;
	box-shadow: none;
}

/* Level 1 button hover and focus effects. */
#main_menu .linklevel1:hover, #main_menu .listlevel1:hover .linklevel1,
#main_menu .linklevel3:hover, #main_menu .listlevel3:hover .linklevel3,
#menu_sidebar .linklevel1:hover, #menu_sidebar .listlevel1:hover .linklevel1,
#menu_current_area > strong > .linklevel1 {
	transition: background-color 0.25s, color 0.15s;

	color: #FFFFFD;
	background: #BFBFBF;
}

/* Level 1 button hover and focus effects. */
#main_menu .linklevel2:hover, #main_menu .listlevel2:hover .linklevel2,
#main_menu .linklevel3:hover, #main_menu .listlevel3:hover .linklevel3 {
	color: #000000;
	background: #5F5F5F;
}

/* Level 1 active buttons. */
#main_menu .linklevel1.active, #main_menu .listlevel1:hover .active,
#main_menu .linklevel1:hover .pm_indicator {
	color: #FAFAFA;
	background: #5F5F5F;
}

/* Hover effects for those buttons. */
#main_menu .linklevel1.active:hover, #main_menu .listlevel1:hover .linklevel1.active {
	color: #000000;
	background: #CCCCCC;
}

#main_menu .linklevel1:hover .pm_indicator, #main_menu .linklevel2:hover .pm_indicator {
	color: #555555;
	border-color: transparent;
	background: #919BA9;
	box-shadow: none;
}

/* Level 2 and Level 3: drop menu wrapper. */
#main_menu .menulevel2 {
	background: #F6F6F6;
}

#main_menu .menulevel3 {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #FFFFFD;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* Tricky count indicators. Define them carefully */
#main_menu .pm_indicator {
	border-color: #334455;
	background: #AAAAAA;
}

.poster_online .pm_indicator {
	color: #FFFFFD;
	background: #F6F6F6;
}

.poster_online .infotext {
	color: #555555;
}

.likes_indicator {
	color: #FFFFFD;
	border-color: #555555;
	background: #D41A44;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Levels 2 and 3 drop menus: link or button. */
#main_menu .linklevel2:link, #main_menu .linklevel2:visited, #main_menu .linklevel3:link, #main_menu .linklevel3:visited {
	color: #444444;
	border-color: transparent;
}

/* Proper color for indicators */
#main_menu .listlevel2.subsections .linklevel2:after:hover,
#main_menu .listlevel2.subsections:hover .linklevel2 strong,
#main_menu .listlevel3:hover .linklevel3 strong,
#main_menu .listlevel3.subsections:hover .linklevel3 strong {
	color: #FFFFFD;
}

#menu_sidebar .subsections .linklevel1:after,
#menu_sidebar .subsections:hover .linklevel1:after {
	color: #777777;
}

/* Styles for sidebar menus.
------------------------------------------------------- */
/* Cancel default backgrounds for sidebar. */
#menu_sidebar .linklevel1 {
	color: #555555;
	border-color: transparent;
	background: none;
	box-shadow: none;
}

/* -------------------------------------------------------
 * $MENUS
 * -------------------------------------------------------
 */

/* General styling, basically any menu thats not the top menu. */
.linklevel1, .linklevel1:link, .linklevel1:visited {
	color: #566E4B;
	border: 1px solid transparent;
	border-bottom: 1px solid #E5E5E5;
	border-radius: 0;
	background: #F4F4F4 linear-gradient(to bottom, #FFFFFD, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5;
}

/* Level 1 button hover and focus effects. */
.linklevel1:hover, .listlevel1:hover .linklevel1,
.linklevel2:hover, .listlevel2:hover .linklevel2,
.linklevel3:hover, .listlevel3:hover .linklevel3 {
	text-decoration: none;

	color: #555555;
	border: 1px solid #C0C0C0;
	border-top: 1px solid #AFAFAF;
	border-left: 1px solid #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.poster .linklevel1:hover, .poster .listlevel1:hover .linklevel1 {
	border-color: transparent;
	background: inherit;
	box-shadow: none;
}

.poster li.poster_online:hover .linklevel1 {
	color: #555555;
	border: 1px solid #CCCCCC;
	border-top: 1px solid #AFAFAF;
	border-left: 1px solid #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.poster li.poster_online .nolink {
	color: #566E4B;
	border: 1px solid #AFAFAF;
	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #BFBFBF;
	background: #F4F4F4 linear-gradient(to bottom, #FFFFFD, #E4E4E4);
	box-shadow: 1px 1px 2px #E5E5E5;
}

.poster li.subsections.listlevel1:hover .linklevel1 {
	background: transparent;
	box-shadow: none;
}

.poster .name, .poster .membergroup, .poster .icons, .poster_avatar a.linklevel1 {
	border-color: transparent;
}

.poster .listlevel1, .poster li.listlevel1:hover {
	border-color: transparent;
}

.poster li.listlevel1.name:hover {
	border-bottom-color: #CCCCCC;
}

.poster_div_details {
	border-left-color: #CCCCCC;
}

.poster_details {
	box-shadow: 2px 2px 4px 1px #CCCCCC;
	padding: 6px 0 0;
	background: #FAFAFA;
}

/* Level 1 active buttons. 5F5F5F */
.linklevel1.active, .listlevel1:hover .active {
	color: #FFFFFD;
	border-color: transparent;
	border-bottom-color: #838E9D;
	background: #5F5F5F;
	box-shadow: 1px 1px 2px #BBBBBB;
}

/* Hover effects for those buttons. */
.linklevel1.active:hover, .listlevel1:hover .linklevel1.active,
#collapse_button .linklevel1:hover, .linklevel1:hover .pm_indicator {
	border-color: transparent;
	color: #555555;
	background: #E8E8E8;
	background-image: linear-gradient(to bottom, #E8E8E8, #EFF0F3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}

/* Corrections for other menus. */
.subsections:hover .name.linklevel1:after {
	color: #111111;
}

/* Do one override here for .poster. Still saves code all round. */
.poster_avatar .linklevel1, .poster_avatar:hover .linklevel1,
.poster_avatar .linklevel1:focus,
.name.linklevel1, .name.linklevel1:hover, .name.linklevel1:focus {
	color: #E8E8E8;
	background: none;
	box-shadow: none;
}

.name.linklevel1:hover {
	color: #222222;
}

/* Levels 2 and 3: drop menu wrapper. */
.menulevel2, .menulevel3 {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;
	background: #FFFFFD;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.poster .pm_indicator {
	font-size: 1em;
}

/* Levels 2 and 3 drop menus: link or button. */
.linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited {
	color: #444444;
	border-color: transparent;
}

/*	$BOARDICONS	*/
/* ------------------------------------------------------- */

.on_board:before, .on2_board:before, .redirect_board:before, .new_some_board:before, .new_redirect_board:before  {
	color: #6BA65E;
}

.off_board:before, .new_none_board:before {
	color: #AAAAAA;
}

/*	$LINKTREE	*/
/* ------------------------------------------------------- */
/* The navigation list (i.e. linktree) */
/* Wrapper/background. */

/* Color for linktree items. */
.breadcrumb {
	color: #444444;
	border-color: #DCDCDC;
	background: #F7F7F8;
	background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	box-shadow: rgba(0,0,0,0.05) 0 1px 4px;
}

.navigate_section:last-child li {
	color: inherit;
}

html[dir="ltr"] .navigate_section li > a {
	margin-left: -15px;
}

.navigate_section li > a:before, .navigate_section li > a:after {
	color: rgba(255,255,255,1);
	border-color: rgba(0,0,0,0.2);
}

.navigate_section li > a:before, .navigate_section li > a:after {
	box-shadow: inset currentColor -1px 0 0 0;
}

/*	$BUTTONS	*/
/* This section contains code for the quickbuttons (quote, quick edit, etc)
/* and for the buttonlist class (reply, add poll, notify, etc).
/* These classes share some styling.
/* Declarations are amalgamated where styling is shared.
/* ------------------------------------------------------- */
/* Styles for the standard button lists.
/* ------------------------------------------------------- */
/* @todo - Save code by amalgamating common button background declarations. */
.buttonlist li {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #BBBBBB;
	background-image: linear-gradient(to bottom, #FCFCFC, #E5E5E4);
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

.buttonlist li:hover {
	border-color: transparent;
}

/* The active one */
.buttonlist li a.active {
	color: #FFFFFD;
	background: #838E9D;
	box-shadow: 1px 1px 2px #E8E8E8, 0 -1px 0 #838E9D inset;
}

/* The quick buttons. */
/* ------------------------------------------------------- */
.quickbuttons .modified {
	color: #777777;
}

/* Cancel generic border-radius. */
.quickbuttons .linklevel1, .quickbuttons .inline_mod_check  {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #BBBBBB;
	background-image: linear-gradient(to bottom, #FCFCFC, #E5E5E4);
	box-shadow: 1px 1px 2px #E5E5E5, 0 -1px 0 #E4E4E4 inset;
}

/*	$PAGELINKS	*/
/* ------------------------------------------------------- */
.selectbox, .pagelinks {
	color: #555555;
}

.pagelinks .navPages {
	color: #555555;
	border-color: #AFAFAF;
	border-top-color: #BBBBBB;
	background-image: linear-gradient(to bottom, #FCFCFC 0%, #E5E5E5 100%);
}

.pagelinks .navPages:hover, .pagelinks .current_page {
	color: #555555;
	border-color: #CCCCCC;
	border-top-color: #AFAFAF;
	border-left-color: #AFAFAF;
	background: #F0F0F0;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.07) inset;
}


.small_pagelinks li a.navPages {
	border-color: #DDDDDD;
}

/* Skip navigation link. */
#top {
	border-color: #313131;
	background: #FFFFFD;
}

/*	$TABLES		*/
/* ------------------------------------------------------- */

/* A general table class. */
.table_grid {
	border-color: #CED2D8;
	background: #F6F6F6;
}

.table_head > th {
	color: #555555;
	border-top-color: #CED2D8;
	border-bottom-color: #CED2D8;
	background: #FDFDF0;
}

/* Basic cells. */
.table_grid td, .letterspacing {
	border-bottom-color: #CCCCCC;
}

/* Subtle zebra striping for rows. */
.table_grid .standard_row:nth-child(even) {
	background: #FAFAFA;
}

.table_grid .standard_row {
	background: #FFFFFD;
}

/* Legacy highlight color, for selected membergroups etc. */
/* Used by JS to show a selected item. Still used in manage languages */
.table_grid .standard_row.highlight2 {
	color: #555555;
	background: #D1E1EF;
}

/* For Errors.template.php. */
/* ------------------------------------------------------- */
#errorfile_table .current {
	border-color: #444444;
	background: #FFF5CD;
}

/*	$BOARDS		*/
/* ------------------------------------------------------- */
/* Set up some general framing classes. @todo */
/*    .forum_category for board index/sub-boards. */
/*    .forumposts for thread pages and recent posts, etc. */
/*    .content_category for general divisions around the place. */
/* All styled the same in default variant, but available for fun and games. */

/* The board categories and newsfader - some shared styling. */
.forum_category, .forumposts, .content_category {
	background: #DEEDDA;
}

.board_row, .childboard_row, .forumposts > div, .forumposts > li,
.content_category > div, .content_category > li {
	border-color: #CFCFCF;
	background: #FFFFFD;
}

.board_latest {
	border-left-color: #CCCCCC;
}

.board_name > a {
	color: #555555;
}

.board_stats {
	color: #777777;
}

.lastpost_link > a {
	color: #555555;
}

.board_latest strong {
	color: #777777;
}

.childboards {
	border-top-color: #CCCCCC;
}

.childboard_row h4, .board_new_posts {
	color: #777777;
}

/* Styles for the info center on the board index. */
.ic_section_header {
	border-bottom-color: #CED2D8;
}

.ic_section_header > a {
	color: #444444;
}

#ic_recentposts th, #ps_recentposts th, #ps_recenttopics th {
	border-bottom-color: #CED2D8;
	border-top-color: transparent;
}

#ic_recentposts td, #ps_recentposts td, #ps_recenttopics td {
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.recentpost > strong > a, .inline > strong > a {
	color: #555555;
}

#expanded_pages_container a {
	background: #FFFFFD;
}

/* The board description and who-is-viewing stuff. */
#description_board {
	background: #E4E4E4;
}

#description_board .generalinfo, #forumposts .generalinfo {
	border-color: #DDDDDD;
	background: #FFFFFD;
}

.topic_listing {
	border-color: #DDDDDD;
	background: #D5DAE1;
}

.header_row {
	color: #FFF0F0;
	background-color: #5F5F5F;
}

.topic_listing > li {
	border-color: transparent;
	border-bottom-color: #CCCCCC;
}

.basic_row {
	background: #FFFFFD;
}

.basic_row:nth-child(even) {
	background: #FAFAFA;
}

.topic_listing_container {
	border-color: #DDDDDD;
	background: #F6F6F6;
}

.topic_sorting_row {
	background: transparent;
}

.sort_active {
	color: #589B46;
}

.topic_name h4 a {
	color: #555555;
}

.sticky_row .topic_name h4 a, .locked_row.sticky_row .topic_name h4 a {
	color: #555555;
}

.locked_row .topic_name h4 a {
	color: #777777;
}

.sticky_row .topic_name h4 a.new_posts,
.locked_row.sticky_row .topic_name h4 a.new_posts,
.locked_row .topic_name h4 a.new_posts {
	color: #FFFFFD;
}

.topic_stats {
	color: #555555;
}

.topic_text > a {
	color: #000000;
}

.approvetopic_row, .approve_row {
	background: #FFF5CD;
}

.sticky_row, .locked_row.sticky_row {
	background: #FFFFE0;
}

.locked_row, .locked_row.core_posts {
	background: #FFFFD4;
}

#topic_icons {
	border-color: transparent;
}

.topicicon.img_profile:before {
	border-color: #FFFFFD;
	box-shadow: 0 0 1px #B90504;
}

.jump_to_header {
	color: #566450;
	background: #EBEBEB linear-gradient(to bottom, #FAFAFA, #EAEAEA);
	box-shadow: 2px 1px rgba(1, 1, 1, 0.07) inset;
}

.jump_to_header:hover {
	color: #555555;
	background: #F0F0F0;
}

/* -------------------------------------------------------
 *	$TOPICS
 * -------------------------------------------------------
 */

/* The display template (topic view).
/* Poll vote options */
#poll_options .options {
	border-top-color: #9999AA;
}

/* Poll results */
#poll_options .options .percentage {
	background: #FFFFFD;
}

/* On to the posts */
.forumposts {
	border-color: transparent;
	background: #E2E2E2;
	box-shadow: none;
}

.forumposts.content {
	border-color: transparent;
	background: #FFFFFD;
}

#postmodify > #forumposts > .forumposts {
	background: #FFFFFD;
}

/* Poster and postarea + moderation area underneath */
.forumposts .content, .forumposts .approvebg, .core_posts {
	border-color: #C5C5C5;
	background: #FFFFFD;
}

#quickReplyOptions .editor_wrapper {
	border-color: transparent;
}

/* Colors for background of posts requiring approval */
.forumposts .approvebg {
	background: #FFF5CD;
}

.poster .name {
	color: #555555;
	border-bottom-color: #CCCCCC;
}

.cf_icons {
	border-top-color: #EEEEEE;
}

/* Drop menu for the poster info. */
.poster .listlevel1.sfhover .menulevel2, .poster .listlevel1:hover .menulevel2 {
	background: #FFFFFD;
}

.poster .listlevel2 {
	background: #FFFFFD;
}

.report_seperator {
	border-bottom-color: #EEEEEE;
	background: #BBBBBB;
}

/* @todo - Save code by amalgamating common button background declarations. */
.poster_online .linklevel1 {
	border-color: #AFAFAF;
	border-top-color: #CFCFCF;
	border-left-color: #BFBFBF;

	background: #F4F4F4 linear-gradient(to bottom, #FCFCFC 0%, #E5E5E5 100%);
	box-shadow: 1px 1px 2px #EEEEEE;
}

.poster_online .linklevel1:hover {
	border-color: #CCCCCC;
	border-top-color: #AAAAAA;
	border-left-color: #BBBBBB;
	background: #F0F0F0;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.post_subject {
	color: #777777;
}

.keyinfo h5 a, .keyinfo h5 a strong {
	color: #555555;
}

.keyinfo {
	border-bottom-color: #BFBFBF;
}

/* All the signatures used in the forum. */
.signature, .attachments, .custom_fields_above_signature {
	border-top-color: #BFBFBF;
}

.new_post_separator:after {
	border-color: #E4E4E4 transparent;
}

.new_post_separator:before {
	border-color: #BBBBBB transparent;
}

.new_post_separator {
	display: block;
	overflow: visible;
}

/* Used by video embed JS when autolinking video links */
.elk_video {
	border-color: #27A348;
}

.elk_videoheader {
	border-color: #27A348;
}

.requiredfield:before {
	border-color: transparent;
	border-bottom-color: #437837;
}

.requiredfield {
	color: #FFFFFD;
	border-color: #2D5024;
	border-right-color: #5AA049;
	border-bottom-color: #5AA049;
	background: #437837;
}

/* -------------------------------------------------------
 *	$EDITOR
 * -------------------------------------------------------
 */

/* The main post editor section. */
#preview_body {
	border-color: #CED2D8;
	border-bottom-color: #CCCCCC;
	background: #FFFFFD;
}

#postAdditionalOptions, #postDraftOptions {
	border-color: #CCCCCC;
	background: #FDFDFD;
}

#postAdditionalOptionsNC {
	border-color: #CCCCCC;
	background: #FDFDFD;
}

/* -------------------------------------------------------
 *	$DRAG-N-DROP
 * -------------------------------------------------------
 */

.drop_area {
	color: #444444;
	border-color: #CCCCCC;
	background-color: #E6E6E6;
}

.statusbar {
	border-top-color: #A9CCD1;
	border-bottom-color: #A9CCD1;
	background: #F1F1F1;
}

.progressBar {
	border-color: #CED2D8;
}

.progressBar div {
	color: #FFFFFD;
	background-color: green;
}

.abort, .remove, .share {
	color: #FFFFFD;
	background-color: #A8352F;
}

.drop_attachments_error {
	color: #FF0000;
}

#postMoreOptions, #postAttachment, #postAttachment2 {
	border-top-color: #CCCCCC;
}

#postDraftOptions .settings dd, #postDraftOptions .settings dt {
	border-top-color: #E4E4E4;
}

/* -------------------------------------------------------
 *	$MODERATE
 * -------------------------------------------------------
 */

.split_messages .post {
	border-top-color: #FFFFFD;
}


/* -------------------------------------------------------
 *	$TABS
 * -------------------------------------------------------
 */

/* We can't control what jqueryui pollutes the DOM with, so deal with it */
/* Styles for the profile summary tabs, or any jquery ui tabs */
/* ---------------------------------------------------------- */

.ui-tabs .ui-tabs-nav li {
	color: #FFFFFD;
	border-color: #CCCCCC;
}

.ui-tabs .ui-tabs-nav li a {
	border-bottom-color: #CCCCCC;
	background: #F0F0F0;
}

.ui-tabs .ui-tabs-nav .ui-state-default a {
	background: linear-gradient(to bottom, #FFFFFD, #E4E4E4) repeat scroll 0 0 #F4F4F4;
}

.ui-tabs .ui-tabs-nav .ui-state-active a {
	color: #FFFFFD;
	background: #5F5F5F;
	box-shadow: 1px 1px 2px #BBBBBB;
}

/* Hover effects for those buttons. */
.ui-state-default.ui-corner-top.ui-state-hover, .ui-state-default.ui-corner-top.ui-state-hover a {
	background: linear-gradient(to bottom, #E4E4E4, #FFFFFD) repeat scroll 0 0 #F4F4F4;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

.ui-tabs-active.ui-state-active.ui-state-hover a {
	background: #9FBFDF;
	background: linear-gradient(to bottom, #5F5F5F, #A6A6A6);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}

/* -------------------------------------------------------
 *	$PROFILE
 * -------------------------------------------------------
 */

.ui-tabs .ui-tabs-panel {
	border-color: #CED2D8;
	border-top-color: #CCCCCC;
	background: none repeat scroll 0 0 #FFFFFD;
}

.profile_center, #profile_attachments, #unwatched_topics {
	border-color: #CCCCCC;
	background: #EFEFEF;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.profile_center .content,
#profile_attachments .content,
#unwatched_topics .content {
	background: #FFFFFD;
}

.profileblock {
	background: none repeat scroll 0 0 #FFFFFD;
}

#detailedinfo dt, #tracking dt, .profileblock dt {
	color: #555555;
}

.activity_stats li span {
	border-color: #555555;
	background: #EEEEEE;
}

.activity_stats li .bar {
	border-color: #CCCCCC;
	background: #FFFFFD;
}

.activity_stats li .bar div {
	background: #848F9D linear-gradient(to bottom, #363D47 0%, #848F9D 100%);
}

.topic_details {
	border-bottom-color: #999999;
}

.ignoreboards a {
	border-bottom-color: #C4C4C4;
}

.ignoreboards a:hover {
	border-bottom: 1px solid #555555;
}

.vcard, .profile_attachment {
	border-color: #CCCCCC;
}

.attachment_title {
	border-bottom-color: #CCCCCC;
}

.attachment_name, .attachment_details {
	background: #F6F8F9 !important;
	border-color: #CCCCCC;
}

.attachment_image {
	--shadow-color: rgba(158, 158, 158, .38);
	box-shadow: 0.3px 0.5px 0.7px var(--shadow-color), 0.4px 0.8px 1px -1.2px var(--shadow-color), 1px 2px 2.5px -2.5px var(--shadow-color);
}

#warndiv .ui-widget-header {
	background: transparent;
}

#warndiv .watched .ui-widget-header {
	background: green;
}

#warndiv .moderated .ui-widget-header {
	background: orange;
}

#warndiv .muted .ui-widget-header {
	background: red;
}

/* -------------------------------------------------------
 *	$PERSONAL
 * -------------------------------------------------------
 */

#personal_messages .capacity_bar {
	border-color: #ADADAD;
}

#personal_messages .capacity_bar span {
	border-right-color: #ADADAD;
}

#personal_messages .capacity_bar .empty {
	background: #A6D69D;
}

#personal_messages .capacity_bar .filled {
	background: #EEA800;
}

#personal_messages .capacity_bar .full {
	background: #F10909;
}

.addrules dt.floatleft {
	color: #555555;
}

/* -------------------------------------------------------
 *	$CALENDAR
 * -------------------------------------------------------
 */
/* Calendar colors for birthdays, events and holidays */
.birthday {
	color: #920AC4;
}

.event {
	color: #078907;
}

.holiday {
	color: #555080;
}

.calendar_table {
	border-top-color: #CED2D8;
	background: #DDDDDD;
}

.calendar_table th, .calendar_table td {
	background: #FFFFFD;
}

/* Used to indicate the current day. */
#main_grid .calendar_today, #month_grid .calendar_today {
	border-color: #AAAAAA;
	background: #EBFFD8;
}

.weeklist {
	background: #E4E4E4;
}

.weeklist > li {
	border-color: #CED2D8;
	background: #FFFFFD;
}

.weekdays {
	border-left-color: #CED2D8;
}

.modify_event {
	color: red;
}

/* Add a background that fits with the calendar. */
#calendar_navigation {
	border-color: #CED2D8;
}

/* -------------------------------------------------------
 *	$HELP
 * -------------------------------------------------------
 */

#helpmain {
	border-color: #CCCCCC;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

/* Styles for the tooltips. */
.tooltip {
	border-color: #AAAAAA;
	background: #FFFFFD;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* The darkened background for help pop-ups. */
.popup_container {
	background: rgba(0, 0, 0, 0.4);
}

/* The actual pop-up wrapper. */
.popup_window {
	border-color: #777777;
	background-color: #FAFAFA;
	background-clip: padding-box;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

/* The text content, hopefully helpful. */
.popup_content {
	border-color: #BBBBBB;
	border-bottom-color: #CCCCCC;
	background: #F5F5F5;
	box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------------------
 *	$SEARCH
 * -------------------------------------------------------
 */

#mlsearch_options {
	border-color: #CED2D8;
	background: #FAFAFA;
}

.search_results_posts {
	background: #FFFFFD;
}

.search_results_posts .topic_body {
	border-top-color: #CCCCCC;
	box-shadow: 0 1px 0 #FFFFFD inset;
}

.search_results_posts > li:not(:last-child) {
	border-bottom-color: #CED2D8;
}

/* -------------------------------------------------------
 *	$MEMBERLIST
 * -------------------------------------------------------
 */
.mlist li div, .whos_online dt div, .whos_online dd:nth-child(odd) div {
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFD;
}

.mlist li.alternate_row div, .whos_online dd:nth-child(even) div {
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #FAFAFA;
}

.mlist li div:first-child {
	border-left-color: #CCCCCC;
}

.mlist li div:last-child {
	border-right-color: #CCCCCC;
}

.letter_row h3 {
	border-color: #CCCCCC;
}

/* -------------------------------------------------------
 *	$LOGIN
 * -------------------------------------------------------
 */
.coppa_contact {
	color: #555555;
	border-color: #555555;
	background: #FFFFFD;
}

.valid_input {
	background: #F5FFF0;
}

.invalid_input {
	background: #FFF0F0;
}

/* -------------------------------------------------------
 *	$BOXES
 * -------------------------------------------------------
 */

/* Lotsa boxes. */
.description, .information, .warningbox, .successbox, .infobox, .errorbox {
	border-color: #CCCCCC;
	background: #FFFFFD;
}

/* Information boxes. */
.information {
	background: #F0F6F0;
}

.warningbox {
	border-top-color: #FFD324;
	border-bottom-color: #FFD324;
	background: #FFF6CA url(../../images/profile/warning_moderate.png) 10px 50% no-repeat;
}

.successbox {
	border-top-color: #008000;
	border-bottom-color: #008000;
	background: #EEFFEE url(../../images/icons/field_valid.png) 10px 50% no-repeat;
}

.infobox {
	border-top-color: #3A87AD;
	border-bottom-color: #3A87AD;
	background: #D9EDF7 url(../../images/icons/quick_sticky.png) 10px 50% no-repeat;
}

.errorbox {
	border-top-color: #CC3344;
	border-bottom-color: #CC3344;
	background: #FFEEEE url(../../images/profile/warning_mute.png) 10px 50% no-repeat;
}

.warningtext {
	color: #FFF6CA;
}

.successtext {
	color: #008000;
}

.infotext {
	color: #D9EDF7;
}

.errortext {
	color: #FFEEEE;
}

.stdtext {
	color: #555555;
}

/* -------------------------------------------------------
 *	$PROGRESS
 * -------------------------------------------------------
 */

.progress_bar {
	border-color: #000000;
	background: #FFFFFD;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.progress_bar .full_bar {
	color: black;
}

.progress_bar .green_percent {
	background-color: #008000;
}

.progress_bar .blue_percent {
	background-color: #0000FF;
}

/* -------------------------------------------------------
 * $STATISTICS
 * -------------------------------------------------------
 */
.statistics .category_header {
	border-bottom-color: #CCCCCC;
	background: none;
	text-shadow: none;
}

.statistics .flow_hidden, #forum_history .flow_hidden {
	border-color: #CED2D8;
	background: #FEFEFE;
}

.stats.floatleft {
	border-right-color: #CCCCCC;
}

#top_row .stats dd, .statsbar {
	border-color: #AAAAAA;
	background: #FFFFFD;
}

/* Methinks topic links, etc need a little more oomph next to the orange bars. */
#top_row .stats dd {
	border-color: transparent;
	background: none;
}

.statsbar .bar {
	background: #47B263 linear-gradient(to bottom, #6F8CA5 0%, #9FBFDF 100%);
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
.statsbar .righttext {
	background: #FFFFFD;
}


#recentposts .inner blockquote, #recentposts .messageContent blockquote {
	overflow: hidden;

	height: 5em;
}

/* floating error box */
/* currently used by like functionality */
.floating_error {
	color: #404040;
	border-color: #E4E4E4;
	background: #FFFFFD;
}

.floating_error .error_msg {
	color: #3D3C3C;
}

.floating_error .error_btn {
	color: #157DFB;
	border-top-color: #D6D6D6;
}

/* -------------------------------------------------------
 *	$ICONS
 * -------------------------------------------------------
 *
 * Icons. The color file is the place for this since we
 * can't style embedded material.
 *
 * -------------------------------------------------------
 */
.warnicon {
	border-color: #E86100;
}

.iconline {
	border-color: #27A348;
	background: #B4E391;
	background-image: linear-gradient(to bottom, #B4E391 0%,#61C419 50%,#B4E391 100%);
}

.icoffline {
	border-color: #828282;
	background: #BBBBBB;
	background-image: linear-gradient(to bottom, #BBBBBB 0%,#6F6F6F 50%,#BBBBBB 100%);
}

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 * @TODO: This should be nearly empty for the colorized sheets.
 *
 * Experimental media queries.
 * NOTE:
 * When setting break points for media queries, don't set them in pixels.
 * Use em instead.
 * Why? Because the point of re-stacking/dropping content is to fit it all
 * in the available space. This is dependent not just on width in pixels,
 * but also on the user-selected text size that is set in the browser.
 *
 * If, for whatever reason (eyesight, pixel pitch, workstation arrangement, etc)
 * a user requires text 50% larger than theme default, then their screen is
 * effectively a lot smaller than its nominal resolution would indicate.
 * If the break points are set in em, suddenly the media queries become equally
 * responsive for all users, without any extra code being required.
 *
 * Testing em break points is just as easy as testing pixels,
 * and it will make more people happier. This is cool. :)
 *
 * Of course, having comments to map em to px for each query is a good idea too.
 */

/* This one does 800 screens at default font size. */
@media screen and (max-width: 50em) {
	#menu_sidebar {
		border: 1px solid #AAAAAA;
		border-radius: 0;
		background: #FFFFFD;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	}

	#menu_wrapper {
		height: 60px;
	}

	#search_form .input_text {
		width: 70%;
	}

	#search_form_button, #search_form_button_close {
		min-height: 60px;
		font-size: 1.8em;
	}

	#menu_nav, #menu_nav_scroll {
	}

	#main_menu .menulevel2 {
		top: 60px;
	}

	#main_menu .listlevel1 {
		background: transparent;
	}

	[data-icon]:before {
		font-family: "FontAwesome";
		font-size: 3em;
		line-height: 1.2em;

		display: inline-block;

		width: 1.15em;
		height: 1.15em;
		margin: 2px;
		padding: 1px;

		content: attr(data-icon);
		text-align: center;

		color: #FAFAFA;
		border: 3px solid transparent;
		border-radius: 0;
	}

	.indicator[data-icon]:before {
		border-color: #AAAAAA;
		border-radius: 5px;
	}

	#main_menu .linklevel1 {
		margin-right: 2px;
	}

	#main_menu .linklevel1.active, #main_menu .linklevel1.active:hover {
		border: 0 solid transparent;
		background: #CCCCCC;
	}

	.listlevel1#button_profile .linklevel1 {
		min-width: 0.5em;
	}

	.mlist li div.posts {
		border-right: 1px solid #CCCCCC;
	}
}

/* This one does up to 540 screens. */
@media screen and (max-width: 33.750em) {
	[data-icon]:before {
		font-size: 2em;
	}

	#menu_wrapper {
		height: 45px;
	}

	#main_menu .linklevel1, #main_menu .linklevel1 a {
		height: 45px;
	}

	#search_form_button, #search_form_button_close {
		min-height: 45px;
		font-size: 1.2em;
	}

	#gotop, #gobottom {
		border: 1px solid #222222;
	}

	#gobottom {
		border-radius: 0;
	}

	#gotop {
		border-radius: 0;
	}

	#gotop:hover, #gobottom:hover {
		text-decoration: none;

		opacity: 1;
		color: #555555;
	}

	.board_latest {
		border-left: 0;
	}

	.frame {
		border-radius: 0;
	}

	.board_lastpost {
		border-top: 1px solid #CCCCCC;
	}

	.topic_listing > li {
		border: 1px solid #AAAAAA;
		box-shadow: 3px 3px 6px #E5E5E5;
	}

	.poster:after, .posterarea:before {
		border-bottom: 1px solid #BFBFBF;
	}

	.board_icon {
		width: 20px;
		height: 20px;
	}

	.on_board, .on2_board {
		background-position: -300px -14px;
	}

	.off_board {
		background-position: -372px -14px;
	}

	.redirect_board {
		background-position: -444px -14px;
	}

	.forumposts .content {
		margin-top: 8px;

		border: 1px solid #BFBFBF;
		border-radius: 0;
		box-shadow: 3px 3px 6px #E5E5E5;
	}

	.forum_category, .forumposts, .content_category {
		border: none;
		background: #FFFFFD;
	}

	.listlevel2.subsections .linklevel2::after {
		content: "";
	}

	.stats.floatleft {
		border: none;
	}

	.subsections:hover .linklevel1:after {
		content: "";
	}

	.whos_online dd div {
		border-top: none !important;
		border-bottom: none !important;
	}

	.whos_online dd:nth-child(even), .whos_online dd:nth-child(odd) {
		margin-top: 1px;

		border-top: 1px solid #CCCCCC;
	}

	.online_member {
		font-size: 1.6em;
	}

	.track_ip {
		font-size: 0.7em;

		float: right;
	}

	.track_ip:before {
		content: "";
	}

	.track_ip:after {
		content: "";
	}
}

@media screen and (max-width: 30em) {
	.mlist li .group {
		border-right: 1px solid #CCCCCC;
	}
}
